/*----Custom font----*/
@font-face {
    font-family: catFont;
    src: url(../fonts/101_marie_luvz_catz/101!\ Marie\ LuvZ\ CatZ.ttf);
}

/*----GENERAL STYLES----*/
body {
    background-image: url(../images/cat-wallpaper-background-pink.jpg);
    background-size: contain;
    height: 96vh;
}

h1 {
    font-size: 1.5rem;
    font-family: catFont;
    padding-top: 1vh;
}

h2 {
    font-size: 1rem;
}

/*----don't display elements that will be used on canvas----*/
.icon,
.start {
    display: none;
}

/*----don't display the content for IE----*/
#ie {
    display: none;
}


#mainContainer {
    background-color: rgba(255, 255, 255, 0.8);
    height: 96vh;
    margin-top: 2vh;
    text-align: center;
    overflow: hidden;
}

#content {
    height: 90%;
}

/*----STYLES FOR THE COLUMN WITH THE GAME----*/
.btn,
#ok {
    display: block;
    margin: 2vh auto;
}

#game {
    padding: 0;
}

/*----styling canvas----*/
#gameArea {
    border: 1px solid black;
}

/*----STYLES FOR THE COLUMN WITH THE INSTRUCTIONS----*/

#instructions {
    text-align: left;
}


.highlight {
    font-weight: 900;
    color: #d10202;
    text-decoration: underline;
}


/*----STYLES ONLY FOR LARGE SCREENS----*/
@media (min-width: 992px) {
    li {
        padding-bottom: 1vh;
        font-size: 1.1rem;
    }

}

/*----STYLES ONLY FOR DESKTOPS----*/
@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

/*----STYLES FOR SHORTER DEVICES - with the above style the 'how to play' 
button is only visible when scrolled down and might be 
missed by user and the game area should keep the same height---*/

@media (max-height: 639px) {

    /*----place the button above the game, to the right----*/
    #instrButton {
        position: absolute;
        top: -4rem;
        right: calc((100% - 350px) /2 + 15px);
        font-size: 1rem;
        padding: 4px 4px;
    }

    /*----place the title to the left of the and align with game area----*/
    #title {
        position: absolute;
        left: calc((100% - 350px) /2);
    }

    #content {
        padding-top: 72px;
    }

}

/*----STYLES FOR WIDE AND TALL DEVICES, like iPadPro---*/
@media (min-height: 1025px) {

    /*----make the instructions come after the game----*/
    #instructions {
        order: 13;
    }

    #game {
        padding-bottom: 6vh;
    }

    /*----make the columns full width----*/
    #game,
    #instructions {
        flex: 0 0 100%;
        max-width: 100%
    }

    li {
        padding-bottom: 1.5vh;
        font-size: 1.2rem;
    }
}

/*----STYLES FOR IE----*/
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    #content {
        display: none;
    }

    #ie {
        display: block;
    }
}